@import url('@/assets/css/base.less');

.task-bar {
  z-index: 10000;
  height: @task-bar-height;
  background: rgba(34, 49, 103, 63%);
  backdrop-filter: blur(25.6901px);
  color: #fff;
  padding: 0 1rem;
}

.task-bar-apps {
  gap: @task-bar-row-gap;
  justify-content: flex-start;
}

.task-bar-right-panel {
  position: absolute;
  right: 22px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: @task-bar-row-gap;

  .bar-status {
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
    min-height: 36px;
    gap: 0.5rem;
    border-radius: 4px;

    .icon {
      color: #fff;
      font-size: 14px;
    }

    &:hover {
      background: var(--win-app-hover-bg);
    }

    &.time-bar {
      flex-direction: column;
      gap: 0;
    }
  }
}

.task-bar-app {
  @apply flex relative justify-center transition-all items-center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 9%);
  border-radius: 4px;
  height: 40px;
  width: 40px;

  &:hover {
    background: var(--win-app-hover-bg);
  }
  .task-bar-app-badge {
    @apply absolute bottom-0 left-0 w-full flex justify-center;
  }
  .task-bar-app-badge-inner {
    @apply rounded-sm;
    height: 2px;
    transform: translateY(-4px);

    &.running {
      width: 6px;
      background: #858585;
    }
    &.opened {
      width: 12px;
      background: #4cc2ff;
    }
  }
}

.start-menu-item {
  &:hover {
    background: var(--win-app-hover-bg);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 9%);
    border-radius: 4px;
  }

}
.power-menu {
  @apply flex gap-2 flex-col;

  &-item {
    @apply flex gap-2 items-center hover:bg-slate-500 px-2 rounded cursor-pointer;
  }
}